button,
input {
  background-color: #00000000;
  border: none;
}

/* TABLE */
.table-container {
  padding: 0 1rem;
  display: flex;
  justify-content: center;
}
.table {
  min-width: 60rem;
  min-height: 5rem;
  padding: 1rem;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.6);
  border-radius: 10px;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
@media (max-width: 600px) {
  .table {
    min-width: 0;
    width: 60rem;
  }
}