button,
input {
  background-color: #00000000;
  border: none;
}

.table-container {
  padding: 1rem;
}
.table {
  padding: 1rem;

  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 10px;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.row__buttons {
  display: flex;
}
.row__i-dell,
.row__i-add {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
}

.cell {
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.cell__content {
  display: flex;
}
.cell__name,
.cell__value {
  padding: 0 0.2rem;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
}
.cell__name {
  width: 4rem;
  text-align: right;
}
.cell__value {
  width: 6rem;
}

.cell__buttons {
  display: flex;
}
.cell__i-dell,
.cell__i-add {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
}
