.generator{
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* padding: 8rem 0; */
  
  border: solid rgb(223, 143, 114);
  border-width: 5px 0;

  background: rgb(255, 169, 136);
  background: linear-gradient(90deg, #ffffff00 40%, rgb(223, 143, 114) 40%, rgb(223, 143, 114) 60%, #ffffff00 60%),
              linear-gradient(84deg, #ffffff00 35%, rgb(255, 169, 136) 35%, rgb(255, 169, 136) 65%, #ffffff00 65%),
              linear-gradient(77deg, #ffffff00 30%, rgb(255, 187, 160) 30%, rgb(255, 184, 156) 70%, #ffffff00 70%),
              linear-gradient(69deg, #ffffff00 25%, rgb(255, 208, 190) 25%, rgb(248, 204, 187) 75%, #ffffff00 75%),
              linear-gradient(60deg, #ffe4e4 20%, rgb(255, 218, 204) 20%, rgb(255, 218, 204) 80%, #ffeded 80%);
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.gen-md5__title,
.gen-random__title{
  text-align: center;
  color: rgb(0, 5, 68);
  padding: 1rem;
}

.gen-random,
.gen-md5{
  padding: 1rem 2rem;
  /* background-color: rgb(255, 169, 136);
  border: 1px solid rgb(255, 206, 187); */
  border-radius: 1rem;
}
#gen-md5__i-in,
#PasswordLength{
  background-color: aliceblue;
  padding: .5rem;
  border-radius: 1rem;
}
.gen-random__output,
.gen-md5__output{
  padding: 1rem 0;
}
#gen-md5__i-out,
#gen-random__output{
  color: aliceblue;
  background-color: rgb(0, 5, 68);
  padding: .5rem;
  border-radius: 1rem;
}

/* ### Random */
.gen-random__i-settings{
  text-align: start;
}
.gen-random__i-settings label{
  display: block;
  padding: .1rem;
  font-size: 1rem;
}
.gen-random__i-settings span{
  padding: .5rem;
}
