.cell {
  width: 11rem;
  padding: 0 .1rem .2rem .5rem;
  display: flex;
  justify-content: space-between;
}
.cell__name,
.cell__value {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 100;
  font-size: 0.8rem;
  letter-spacing: -0.02rem;
  text-align: center;
  padding: 0 0.2rem;

  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
}
.cell__name {
  width: 2rem;
  border-radius: 10px 0 0 10px;
}
.cell__value {
  width: 7rem;
  border-radius: 0 10px 10px 0;
}

.cell__buttons {
  display: flex;
  justify-content: space-between;
  width: 1.8rem;
}
.cell__i-dell,
.cell__i-add {
  /* color: aliceblue; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  width: .8rem;
  /* border-radius: 1rem; */
  /* border: 1px solid rgba(255, 255, 255, 0.5); */

  color: #00000000;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
.cell__i-dell{
  background-image: url("../../../../../static/delete.png");
}
.cell__i-add{
  background-image: url("../../../../../static/plus.png");
}