.noscript{
  position: fixed;
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #222222e3;
}

.noscript-container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 10rem;
  width: 22rem;

  /* glassmorphism */
  background-color: #ffffff;
  /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
  /* backdrop-filter: blur( 9.0px ); */
  /* -webkit-backdrop-filter: blur( 9.0px ); */
  border-radius: 1rem;
  /* border: 1px solid rgba( 255, 255, 255, 0.18 ); */

  /* background-color: #ffffff70; */
}
.noscript__title {
  color: #ffffff;
  text-shadow: 3px .5px 0px #00032b;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  hyphens: auto;
  letter-spacing: 0.08rem;
  line-break: strict;
  text-align-last: end;
  text-align: start;
  text-indent: 1rem;
  word-break: normal;
  word-spacing: 0.3rem;
}
.noscript__normal{
  /* color: #000000;
  text-shadow: 0 0 0 #00000000; */
  text-shadow: 2px 1px 0px #0c2b00;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.65rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  line-break: strict;
  text-align-last: end;
  text-align: start;
  text-indent: 1rem;
  word-break: normal;
  word-spacing: 0.3rem;
}