/*
  In .coins__input-search
*/

@media (min-width: 1200px) {
  .coins__search-inputs {
    display: flex;
    justify-content: space-evenly;
  }
  .coins__search-input {
    display: block;

    font-size: 1.5rem;
    padding: 0.4rem 0.6rem;
    transition: border 0.3s linear;

    text-align: center;
    border-bottom: 1px dashed rgb(190, 190, 190);
  }
  .coins__search-input::placeholder {
    text-transform: uppercase;
  }
  .coins__search-input:focus,
  .coins__search-input:hover {
    border-color: black;
  }
}
/*
  In .coins__list
*/

@media (min-width: 1200px) {
  .coins__list {
    min-height: 5vh;
    padding-top: 1rem;
  }
  .coins__list-item {
    display: flex;
    justify-content: space-evenly;
  }
  .coins__list-items {
    width: calc(100% / 3 - (0.4rem * 3));
    text-align: start;
  }
  .coins__list-item .name,
  .coins__list-item .value {
    padding: 0 0.4rem;
  }
  .coins__list-item .name {
    background-color: ivory;
    color: darkgrey;
    text-transform: uppercase;
    /* border-radius: 0 100% 100% 0; */
    user-select: none;
  }
  .coins__list-item .name::after {
    content: " - ";
  }
  .coins__list-item:hover .name {
    color: rgb(255, 255, 255);
    background-color: rgb(214, 214, 214);
  }
}
/*
  In .coins__input-container
*/

@media (min-width: 1200px) {
  .coins__input-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;

    height: 5rem;
    background-color: rgb(56, 56, 56);
  }
  .coins__input-more {
    min-width: 7rem;
    padding: 0.4rem 1rem;
    font-size: 1.2rem;
    /* color: black; */

    text-align: center;
    background-color: #ffffff;
    border-radius: 20px;

    /* text-shadow: 0 2px 0 white; */

    transition: box-shadow 0.65s ease-in-out, color 0.65s ease-in-out,
      border-radius 0.15s ease-in-out, opacity 0.65s ease-in;
  }
  .coins__input-more::before {
    content: "There are (";
  }
  .coins__input-more::after {
    content: ") Coins";
  }
  .coins__input-more:hover {
    border-radius: 0;
    color: white;
    box-shadow: inset 15rem 0px 0px rgb(56, 56, 56),
      inset -15rem 0px 0px rgb(56, 56, 56);
  }
  .coins__input-more:disabled {
    opacity: 0;
  }
}

/*
  ### Animations ###
*/
.show-animation {
  animation: first-show 0.3s 1 ease;
}

@keyframes first-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
