.cell {
  display: flex;
  width: 12rem;
  padding: 0 .6rem;
}

.cell__fields{
  width: 100%;
}
.cell__name,
.cell__value {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 100;
  font-size: 0.8rem;
  letter-spacing: -0.02rem;
}
input.cell__name,
input.cell__value {
  background-color: rgba(255, 255, 255, 0.5);
}

.cell__buttons{
  display: flex;
}
.cell__i-dell,
.cell__i-add {
  width: 0.8rem;

  color: #00000000;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
.cell__i-dell {
  background-image: url("./icons/delete.png");
}
.cell__i-add {
  background-image: url("./icons/plus.png");
}
