/*
  Only #top .top
*/

.top {
  min-height: 2rem;
}
/*
  Only .top__trending 
*/

.top__trending {
  width: 100%;
  overflow-x: hidden;

  background-color: rgb(56, 56, 56);
  color: darkgrey;
  text-align: start;
}
/*
  Only .top__trending__text and Animations
*/

.top__trending-text {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 160s linear normal infinite;
}
.top__trending-text:hover {
  animation-play-state: paused;
}
@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
/*
  In text style blocks
*/

.top__trending-text img {
  user-select: none;
  max-height: 0.7rem;
  padding-top: 0.2rem;
}
