.row button,
.row input {
  background-color: #00000000;
}

.row {
  display: flex;
  padding: .1rem;
}

.row__i-dell,
.row__i-add {
  width: 1rem;
  color: #00000000;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
.row__i-dell {
  background-image: url("./icons/trash.png");
}
.row__i-add {
  background-image: url("./icons/add.png");
}
