.table-container{
  min-height: 30vh;
}

/* .table-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;


  padding: 1rem;
  max-width: 100%;
}

.hide_cells_values .cell__value {
  color: transparent;
}

.no_editing .cell input {
  cursor: default;
  background-color: #00000000;
  border: none;
  border-bottom: 1px solid black;
}
.no_editing .cell .cell__i-dell,
.no_editing .cell .cell__i-add,
.no_editing .row .row__i-dell,
.no_editing .row .row__i-add {
  visibility: hidden;
} */

/* default */
/* .no_editing textarea[readonly="readonly"],
.no_editing textarea[readonly] {
  background-color: tomato;
} */

/* input[type="text"]:read-only:not([read-only="true"]) {
  color: blue;
} */
