.control-panel {
}

.control-wrap {
	margin: auto;
	width: var(--width_block);
	height: 5rem;
	padding: var(--base_padding);

	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: var(--base_padding);
}

.control__btn-container {
	flex: 1 1 calc((100% / 7) - 2rem);
}

@media (min-width: 640px) {
	.control__btn-container {
		flex-basis: calc((100% / 7) - 1rem); /* 2 across at tabletish */
	}
}
@media (min-width: 1024px) {
	.control__btn-container {
		flex-basis: calc((100% / 7) - 2rem); /* 3 across at desktop*/
	}
}

.control-wrap {
}

.control__btn-container {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 0.8rem;
	user-select: none;
	color: var(--color_alt);
	border: none;
}
.control__btn-container:active,
.control__btn-container:focus {
	box-shadow: inset 0 2px 4px 0 rgba(31, 38, 135, 0.37);
}

.control__btn-create,
.control__btn-search {
	color: var(--color);
	background-color: var(--color_bg_accent_alt);
	opacity: 0.9;
}
.control__btn-search {
	border: none;
	border-radius: 10px;
	padding: 0 1rem;
	display: block;
	height: 100%;
}
.control__btn-search::placeholder {
	color: var(--color);
	opacity: 1;
}
