.files-container {
}

.files-wrap {
	margin: auto;
	width: var(--width_block);
	min-height: 15rem;
	padding: var(--base_padding);

	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: var(--base_padding);
}

.files-in,
.files-list,
.files-out {
	flex: 1 1 calc((100% / 3) - 2rem);
	height: 15rem;
}

@media (min-width: 640px) {
	.files-in,
	.files-list,
	.files-out {
		flex-basis: calc((100% / 2) - 1rem); /* 2 across at tabletish */
	}
}
@media (min-width: 1024px) {
	.files-in,
	.files-list,
	.files-out {
		flex-basis: calc((100% / 3) - 2rem); /* 3 across at desktop*/
	}
}

.files-in__container,
.files-list__container,
.files-out__container {
	height: 100%;
	padding: var(--base_padding);
	/* border: 2px solid crimson; */
	/* background-color: rgba(220, 20, 60, 0.151); */
	/* border-radius: 10px; */

	/* background: rgba(255, 113, 113, 0.05); */
}

.files-in__container {
	cursor: grab;
}
.files-list__container {
	overflow-y: auto;
}
.files-out__container {
	overflow-y: auto;
}

.file-container-element {
	cursor: pointer;
	/* cursor: alias; */
	display: flex;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	font-size: 1rem;
	font-weight: 100;
	justify-content: space-between;
	letter-spacing: -0.06rem;
	/* padding: 0.1rem 0.5rem; */
}
.file_size {
	opacity: 0.5;
	color: var(--color);
}
.file_name {
	color: var(--color_accent);
}
