.home {
	/* background-image: url("/public/assets/external-content.duckduckgo.com.png");
  background-size: 200px auto;
  background-repeat: repeat-x;
  background-attachment: fixed; */
	display: flex;
	align-items: center;
	min-height: 20rem;
}

.home__wrap {
	margin: auto;
	width: var(--width_block);
}
@media (min-width: 640px) {
	.home__wrap {
		display: grid;
		grid-template-columns: 1.2fr 1fr;
		grid-template-rows: 1.2fr 1fr;
		gap: var(--base_padding);
		grid-template-areas:
			"home__title home__title"
			"home__subtitle home__text";
	}
}
@media (min-width: 1024px) {
}

.home__title {
	grid-area: home__title;
	font-size: 1.5rem;
}
.home__subtitle {
	grid-area: home__subtitle;
	font-size: 1rem;
}
@media (min-width: 640px) {
	.home__title {
		font-size: 2rem;
	}
	.home__subtitle {
		font-size: 1.5rem;
	}
}
@media (min-width: 1024px) {
}

.home__text {
	grid-area: home__text;
}

.home-red {
	color: var(--color_accent);
}
.home-red::before {
	content: "_";
	color: var(--color);
}
