.noscript {
	padding: var(--base_padding);
}

.noscript__wrap {
	margin: auto;
	width: var(--width_block);
	background-color: whitesmoke;
	outline: 1px solid var(--color);
}

.noscript__title {
	font-weight: 800;
	color: var(--color);
	font-family: "Courier New", Courier, monospace;
	font-size: 2rem;
	letter-spacing: 0.05rem;
	text-decoration: none;
	text-transform: uppercase;
}

.noscript__text {
	text-indent: var(--base_padding);
}
